.u-section-1 {
  background-image: url("/static/images/imagenes del index/banner.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 817px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  width: 896px;
  margin: 118px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 674px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 666px;
}

.u-section-2 .u-image-1 {
  width: 650px;
  height: 333px;
  margin: 208px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1196px;
  margin: -445px -56px 1px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 569px;
}

.u-section-2 .u-container-layout-1 {
  padding: 60px 150px 60px 60px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-style: normal;
  margin: 12px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  margin: 28px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-image-2 {
  min-height: 569px;
  background-image: url("/static/images/imagenes del index/checklist.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 37px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 990px;
    margin-top: -320px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 447px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 65px;
  }

  .u-section-2 .u-image-2 {
    min-height: 447px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -45px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 770px;
    margin-top: -238px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-image-2 {
    min-height: 342px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 277px;
    margin-top: 378px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -559px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 496px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 174px;
    margin-top: 392px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -516px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    min-height: 312px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 783px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 928px;
  margin: 60px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 331px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.25rem;
}

.u-section-3 .u-icon-1 {
  margin-top: 30px;
  margin-bottom: 0;
  height: 64px;
  width: 64px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 331px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 145px;
  width: 207px;
  margin: -9px auto 0 12px;
}

.u-section-3 .u-text-2 {
  margin: 8px 1px 0;
}

.u-section-3 .u-image-1 {
  min-height: 331px;
  background-image: url("/static/images/imagenes del index/funci2.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 289px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 97px;
  width: 97px;
  color: rgb(17, 17, 17) !important;
  margin: 1px 70px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 0 1px 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 289px;
  background-image: url("/static/images/imagenes del index/funci3.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 289px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 95px;
  width: 95px;
  background-image: none;
  margin: 16px auto 0 70px;
}

.u-section-3 .u-text-4 {
  margin: 0 1px 0 0;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-2 {
    height: 126px;
    width: 180px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 257px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    min-height: 224px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1445px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 578px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 504px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 364px;
  }

  .u-section-3 .u-image-2 {
    min-height: 317px;
  }
}