
body{
    background-color: #ebe1c9;
}

header{
    border: 2.5px solid navy;
}

#headerI{
    text-align: center;
    color: navy;
}

#credits{
    text-align: end;
    padding-right: 15px;
    color: navy;
}

.monthInput {
    padding-left: 15px;
    padding-top: 10px;
}

#boxMesIterativo{
    border: 2px solid navy;
    display: none;
    width: 100%;
    /* background-color: #efb810; */
}

#mesIterativo{
    text-align: center;
    color: navy;
}

#tableDiasIterativos, tr, td, th{
    border-collapse: collapse;
    border: 2px solid navy;
    
}

#tableDiasIterativos{
    width: 100%;
}