body {
    background-color:#e4b1a5;
  }

.contenedor {
  margin: absolute;
}

.titulo {
    color:#59371c;
    text-align: center;
    font-family: Garamond, serif;
    font-weight: bold;
    font-size: xx-large;
    letter-spacing: 10pt;
  }

.cuerpo {
  color: #59371c;
  padding-right: 30%;
  padding-left: 30%;
  text-align: center;
}

input[type=text] {
    width: 50%;
    padding: 10px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    }
    input[type=text]:focus {
    background-color:#59371c;
    }

Input[type="password"] {
  width: 50%;
  padding: 10px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}
input[type="password"]:focus {
  background-color:#59371c;
}

.button {
  background-color: white;
  border: none;
  border-radius: 12px;
  color: #050404;
  padding: 10px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button {
  background-color: white;
  color:  #59371c;
  border: 1px solid  #59371c;
}
.button:hover {
  background-color: #59371c;
  color: white;
}
.redregister {
    color: #59371c;
    padding-right: 30%;
    padding-left: 30%;  
  }

.goBack {
    color: #59371c;
    padding-right: 30%;
    padding-left: 30%;
    text-align: center;  
  }