@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,800;1,900&display=swap');

.intro, .lFunctions {
    padding-left: 25px;
    padding-top: 15px;
    padding-right: 25px;
}

#pIntro {
    font-size: 16px;
    font-weight: bold;
}

header {
    background-image: url("/static/images/imagenes del index/banner.jpg");
    block-size: 100%;
    width: 100%;
}

.buttonLog {
    margin: auto;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    width: fit-content;
}

#goLog {
    border-radius: 10px;
    border-color: black;
    font-size: large;
    cursor: pointer;
    font-family: 'Vollkorn', serif;
}