<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/calendarImageLogo.png" />
    <link rel="stylesheet" href="/static/styleBAC.css" />
    <title>Acerca de nosotros</title>
</head>
<body>
    <div class="acercaW3">
        <h3 id="tituloAcerca">Colaboradores:</h3>
        <img id="acercaIMG" src="/static/images/equipo.jpg" />
        <ul>
            <li>
                <a href="https://github.com/DAP-web/" class="list" target="_blank">
                    Diego Portillo - PM</a>
            </li>
            <li>
                <a href="https://github.com/angelarc20/" class="list" target="_blank">
                    Angela Ruiz</a>
            </li>
            <li>
                <a href="https://github.com/marcelamata/" class="list" target="_blank">
                    Marcela Mata</a>
            </li>
            <li>
                <a href="https://github.com/Aaron-Ramos/" class="list" target="_blank">
                    Aaron Ramos</a></li>
            <li>
                <a href="https://github.com/victoriaZepeda/" class="list" target="_blank">
                    Victoria Zepeda</a>
            </li>
            <li>
                <a href="https://github.com/keavy-isabel/" class="list" target="_blank">
                    Keavy Gonzalez</a>
            </li>
            <li>
                <a href="https://github.com/Iselamonterrosa/" class="list" target="_blank">
                    Isela Monterrosa</a>
            </li>
        </ul>
    </div>

    <div class="botonRegreso">
        <a href="/" id="back">Regresar a Inicio</a>
    </div>

</body>
</html>