<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/calendarImageLogo.png" />
    <link rel="stylesheet" href="/static/styleBAC.css" />
    <title>Beneficios</title>
</head>
<body>
    <div class="beneficiosW3">
        <div class="lFunctions">
            <h3>Beneficios:</h3>
            <img id="beneficiosIMG" src="/static/images/funci2.jpg" />
            <ul>
                <li>Schedule important meetings. Never miss a meeting or an appointment!</li>
                <li>Check tasks as done when you've already finished them.</li>
                <li>Catalog the activities or tasks according to their priority for you.</li>
            </ul>
        </div>

    </div>
    <div class="botonRegreso">
        <a href="/" id="back">Regresar a Inicio</a>
    </div>

</body>
</html>