<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styleGeneral.css" />
    <link rel="stylesheet" type="text/css" href="/static/styleIndex.css" />
    <link rel="shortcut icon" href="/static/images/calendarImageLogo.png" />
    <title>Carbono 06</title>
</head>

<body>

<header>
    <h1 id="headerI">Welcome to Calendar: To Do List</h1>
</header>
<hr>

<div class="intro">
    <p id="pIntro">
    We are Carbono 06 and we want to give you some details about the functionalities
    that our app offers you. First, you can schedule your daily meetings, tasks, events or
    daily activities. Also, you can carry on with your day and not worrying about if you have
    forgotten to do something, just select a date and check your list. You won't miss or 
    forget anything, unless of course if you dind't register them in the list.
    </p>
</div>


<div class="lFunctions">
    <h3>Functionalities:</h3>
    <ul>
        <li>Schedule important meetings. Never miss a meeting or an appointment!</li>
        <li>Check tasks as done when you've already finished them.</li>
        <li>Catalog the activities or tasks according to their priority for you.</li>
    </ul>
</div>

<br>
<div class="buttonLog">
        <a href="/login" id="goLog">Let's start</a>
</div>

<footer>
	<h4 id="credits">By Carbono 06</h4>
</footer>

<script src="/static/preLoadUsers.js"></script>

</body>
</html>