<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styleIndex.css">
    <title>Landing Page</title>
</head>
<body>
    
    <section class="sec">
        <header>
            <ul class="navigation">
                <li><a href="">Inicio</a></li>
                <li><a href="">Beneficios</a></li>
                <li><a href="">Acerca de nosotros</a></li>
                <li><a href="">Contáctanos</a></li>
            </ul>
        </header>

        <div class="content">
            <div class="textBox">
                <h2>TO DO LIST<br><span>Calendar</span></h2>
                <a href="#">Ver el calendario</a>
            </div>

        </div>

        <div class="foto">
            <h2><img src="/static/images/calendario.jpg" 
                class="calendario" alt="calendario" style="width:17em">
            </h2>
        </div>

        <ul class="thumb">
            <li><img src="/static/images/Productividad.png" 
                onclick="imgSlider('productividad.png');changeBgColor('#174972')" 
                alt="">
            </li>
            <li><img src="/static/images/Reloj.png" 
                onclick="imgSlider('reloj.png');changeBgColor('#174972')" 
                alt="">
            </li>
            <li><img src="/static/images/paginas.png" 
                onclick="imgSlider('paginas.png');changeBgColor('#174972')" 
                alt="">
            </li>
        </ul>

        <ul class="sci">
            <li><a href=""><img src="/static/images/facebook.png" alt=""></a></li>
            <li><a href=""><img src="/static/images/twitter.png" alt=""></a></li>
            <li><a href=""><img src="/static/images/instagram.png" alt=""></a></li>
        </ul>

    </section>

    <script src="/static/scriptIndex.js"></script>
</body>
</html>