<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="shortcut icon" href="/static/images/calendarImageLogo.png" />
    <link rel="stylesheet" href="/static/styleLogin.css" />
    <link rel="stylesheet" href="/static/styleGeneral.css" />
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='styleLogin.css')}}"> -->
</head>

<body>
    
    <h1>Login</h1>
    <hr>

    <div class="containerInput">
        <label for="user">Username:</label><br>
        <input type="text" name="user" id="user" placeholder="type...">
        <br>
        <br>
        <label for="passw">Password:</label><br>
        <input type="password" name="passw" id="passw" placeholder="type...">
        <br>
        <br>
        <button onclick="checkLogin()">Sign in</button>
    </div>

    <!--<br>
    <hr>
    <div>
        <a href="{{url_for('register')}}">go to registration</a>
    </div>
    -->
    <script src="/static/scriptLogin.js"></script>
    <!-- <script src="{{url_for('static', filename='scriptLogin.js')}}"></script> -->
</body>

</html>