<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>

<body>
    <div class="container">
        <h2>Registro</h2>
        <hr>
        <label for="correo_reg">Correo</label>
        <input type="text" name="correo_reg" id="correo_reg" placeholder="Ingrese su correo...">
        <br><br>
        <label for="usuario_reg">Usuario</label>
        <input type="text" name="usuario_reg" id="usuario_reg" placeholder="Su usuario es...">
        <br><br>
        <label for="contra_reg">Contraseña</label>
        <input type="text" name="contra_reg" id="contra_reg" placeholder="Su contraseña es...">
        <br><br>
        <button onclick="registrarNuevoUsuario()">Registrarse</button>

        <div>
            <a href="{{url_for('dashboard')}}">go to dashboard</a>
        </div>
    </div>
    <script src="{{url_for('static', filename='js.js')}}"></script>
</body>


</html>